@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(assets/bg.jpg);
  background-position: center center;
  background-size: max(1000px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0;
}

nav {
  max-width: 60vw;
  margin: auto;
  height: 52px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
nav img {
  color: red;
  width: 110px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 112px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  padding: 30px;
  gap: 23px;
}
.hero > :nth-child(1) {
  font-weight: 900;
  font-size: 33px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: bolder;
  background-color: white;
  background-color: rgba(23, 23, 23, 0.7);
  color: white;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}
.btn-red {
  background-color: rgb(230, 4, 3, 1);
  color: white;
  padding: 3px 24px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 400;
}
.main input {
  padding: 3px 24px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 400;
  color: white;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}
.btn-red-sm {
  background-color: rgb(230, 4, 3, 1);
  color: white;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}
.secImg{
    position: relative;

}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;

}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
    
}
section.first >div{
    display: flex;
    flex-direction: column;
    
}
section.first > div :nth-child(1){
    font-size: 38px;
    font-weight: 900;
}
section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}